<div id="agent-view">
  <div class="container-fluid">
    <div class="panel panel-default col-md-6" id="panel-container">
      <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-gear"></i> <%= resource_name.to_s.humanize %> Settings<%= link_to "Back", :back, class: "btn btn-warning btn-xs pull-right" %></h2>
      </div>
      <div class="container-fluid">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <h3>Update my account</h3>

        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :username %><br />
            <%= f.text_field :username %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="row">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="form-group col-xs-12">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="actions col-xs-12">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

<hr>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>



</div>

      <div class="panel-footer">
        <div class="btn-toolbar">
          <%= link_to "Back", :back, class: "btn btn-warning btn-sm pull-right" %>
        </div>
      </div>
    </div>

</div>
</div>
</div>