<div id="agent-view">
  <div class="container-fluid">
    <div class="panel panel-default col-md-6" id="panel-container">
      <div class="panel-heading">
        <h2 class="panel-title">Log in</h2>
      </div>
      <div class="container-fluid">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="form-group col-xs-3"></div>
          <div class="form-group col-xs-6">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          <div class="form-group col-xs-3"></div>
        </div>
        
        <div class="row">
          <div class="form-group col-xs-3"></div>
          <div class="form-group col-xs-6">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="form-group col-xs-3"></div>
        </div>


      <% if devise_mapping.rememberable? -%>
        <div class="row">
          <div class="form-group col-xs-3"></div>
          <div class="form-group col-xs-6">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="form-group col-xs-3"></div>
        </div>
      <% end %>
      </div>

      <div class="panel-footer">
           <div class="container-fluid panel-container">
          <div class="form-group col-xs-4"></div>
          <div class="form-group col-xs-4">
            <div class="actions">
              <%= f.submit "Log in", class: "btn btn-primary gradient raised round" %>
            </div>
          </div>
          <div class="form-group col-xs-4"></div>
          </div>
      </div>
    </div>
  </div>
</div>
        
<% end %>
<div class="row">
  <div class="col-xs-1">&nbsp;</div>
    <div class="col-xs-11"><%= render "devise/shared/links" %></div>
</div>