<%= form_for(@prospect) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>
      <ul>
        <% @prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :campaign %>
    <%= f.text_field :campaign, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :list_number %>
    <%= f.text_field :list_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :time_on_contact %>
    <%= f.text_field :time_on_contact, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :source %>
    <%= f.text_field :source, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company %>
    <%= f.text_field :company, class: "form-control" %>
  </div> 
  <div class="form-group">
    <%= f.label :company_phone %>
    <%= f.text_field :company_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address2 %>
    <%= f.text_field :address2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :county %>
    <%= f.text_field :county, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fax %>
    <%= f.text_field :fax, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :numberofemployees %>
    <%= f.text_field :numberofemployees, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :m_phone %>
    <%= f.text_field :m_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :alt_email %>
    <%= f.text_field :alt_email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook %>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :born_on %>
    <%= f.text_field :born_on, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name_2 %>
    <%= f.text_field :first_name_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name_2 %>
    <%= f.text_field :last_name_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title_2 %>
    <%= f.text_field :title_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_2 %>
    <%= f.text_field :phone_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :m_phone_2 %>
    <%= f.text_field :m_phone_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email_2 %>
    <%= f.text_field :email_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :alt_email_2 %>
    <%= f.text_field :alt_email_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :linkedin_2 %>
    <%= f.text_field :linkedin_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook_2 %>
    <%= f.text_field :facebook_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :born_on_2 %>
    <%= f.text_field :born_on_2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :first_name_3 %>
    <%= f.text_field :first_name_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name_3 %>
    <%= f.text_field :last_name_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :title_3 %>
    <%= f.text_field :title_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_3 %>
    <%= f.text_field :phone_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :m_phone_3 %>
    <%= f.text_field :m_phone_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email_3 %>
    <%= f.text_field :email_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :alt_email_3 %>
    <%= f.text_field :alt_email_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :linkedin_3 %>
    <%= f.text_field :linkedin_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook_3 %>
    <%= f.text_field :facebook_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :born_on_3 %>
    <%= f.text_field :born_on_3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other1 %>
    <%= f.text_field :other1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other2 %>
    <%= f.text_field :other2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other3 %>
    <%= f.text_field :other3, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other4 %>
    <%= f.text_field :other4, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other5 %>
    <%= f.text_field :other5, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other6 %>
    <%= f.text_field :other6, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other7 %>
    <%= f.text_field :other7, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :other8 %>
    <%= f.text_field :other8, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :eventdatetime %>
    <%= f.text_field :eventdatetime, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sic %>
    <%= f.text_field :sic, class: "form-control" %>
  </div>
  <div class="cant-see-me">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions form-group" align="center">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>