<!--This form should only appear when clicking on the "Result" button-->

    <%= form_for @prospect do |f| %>

    <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <p class="alert alert-danger"><%= pluralize(@prospect.errors.count, "error") %> prohibited this result from being saved:</p>

      <ul>
      <% @prospect.errors.full_messages.each do |message| %>
        <p class="alert alert-danger"><em>&nbsp; * <%= message %></em></p>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="result-form" class="collapse">
    <div class="row">
      <div class="col-xs-12"><hr></div>
    </div>
    <div class="row">
      <div class="col-xs-10"></div>
      <div class="col-xs-2"><a data-target="#result-form,#result-toolbar,#default-toolbar" class="btn btn-warning round raised btn-xs" role="button" data-toggle="collapse"><span class="fa fa-close"></span></a>
      </div>
    </div>


    <!--The following row is for new Notes FORM which will only have the "detail" field-->
    <div class="row">
      <div class="col-xs-2">Note:</div>
        <%= f.fields_for :notes, @prospect.notes.build do |builder| %>
          <% if builder.object.new_record? %>
            <div class="col-xs-10"><%= builder.text_field :detail, class: "form-control" %></div>
          <% end %>
      <% end %>
    </div>




      <%= f.fields_for :results, @prospect.results.build do |builder_2| %>
          <% if builder_2.object.new_record? %>
              <div class="row">
                <div class="col-xs-4" data-toggle="collapse" data-target="#event">
                  <%= builder_2.radio_button :disposition, 'appointment' %>
                  <%= builder_2.label :disposition, 'Appt Set' %>
                </div>
                <div class="col-xs-4" data-toggle="collapse" data-target="#event">
                  <%= builder_2.radio_button :disposition, 'follow-up' %>
                  <%= builder_2.label :disposition, 'Follow-up'%>
                </div>
                <div class="col-xs-4">
                  <%= builder_2.radio_button :disposition, 'no-pitch' %>
                  <%= builder_2.label :disposition, 'No Pitch' %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <%= builder_2.radio_button :disposition, 'not-qualified' %>
                  <%= builder_2.label :disposition, 'Not Qual' if builder_2.object.new_record? %>
                </div>
                <div class="col-xs-4">
                  <%= builder_2.radio_button :disposition, 'bad-record' %>
                  <%= builder_2.label :disposition, 'Bad #/Rec' %>
                </div>
                <div class="col-xs-4">
                  <%= builder_2.radio_button :disposition, 'not-interested' %>
                  <%= builder_2.label :disposition, 'Not Int' %>
                </div>
              </div>


            <!--The following data will be passed but the row should not be visable-->
            <div class="row cant-see-me">
              <%= builder_2.hidden_field :accessible, value: "true" %>
              <%= builder_2.hidden_field :activity, value: "activity-test" %>
              <%= builder_2.hidden_field :location, value: "location-test" %>
              <%= builder_2.hidden_field :time_on_contact, value: "toc-test" %>
              <%= builder_2.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="row">
              <div "col-xs-12">&nbsp;</div>
            </div>
 
          <div id="event" class="collapse">
            
            <div class="row">
              <div class="form-group col-xs-12">
                <%= builder_2.label :event, 'Date & Time' %><br>
                <%= builder_2.datetime_select :event, order: [:month, :day, :year], use_two_digit_numbers: true, ampm: true, start_year: 2016, prompt: { month: 'Mth', day: 'Day', year: 'Year', hour: 'Hour', minute: 'Min' } %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

    <div class="panel-footer">
      <div id="result-toolbar" class="collapse">
        <div class="row">
          <div class="col-xs-6">
            <a data-target="#result-form,#result-toolbar,#default-toolbar" class="btn btn-default round raised btn-sm" role="button" data-toggle="collapse">Back</a>
          </div>
          <div class="col-xs-6">
            <%= f.submit 'Disposition', class: "btn btn-primary gradient round raised pull-right" %>
          </div>
        </div>
      </div>
    <% end %>
