    <% if @prospect.first_name.present? || @prospect.last_name.present? %>
      <div id="contact1" class="collapse">
        <div class="row">
          <div class="col-xs-12"><hr></div>
        </div>
        <div class="row">
          <div class="col-xs-10"><strong>Contact 1 </strong>
            <% if @prospect.primary_contact == 1 %>
              <em>(primary)</em>
            <% end %>
          </div>
          <div class="col-xs-2">
            <a href="#contact1" data-toggle="collapse" class="btn btn-warning gradient round raised btn-xs" type="button" >
              <span class="fa fa-close"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.first_name.present? || @prospect.last_name.present? %>
              <%= @prospect.first_name %> <%= @prospect.last_name %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.title.present? %>
              <%= @prospect.title %>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.phone.present? %>
              <span class="fa fa-phone"></span> 
              <%= @prospect.phone %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.m_phone.present? %>
              <span class="fa fa-mobile-phone"></span>
              <%= @prospect.m_phone %>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.email.present? %>
              <a href="mailto:<%= @prospect.email %>">
              <span class="glyphicon glyphicon-envelope"></span> <%= @prospect.email %></a>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.alt_email.present? %>
              Alt <a href="mailto:<%= @prospect.alt_email %>">
              <span class="glyphicon glyphicon-envelope"></span> <%= @prospect.alt_email %></a>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.linkedin.present? %>
              <a href="https://www.linkedin.com/in/<%= @prospect.linkedin %>" class="btn btn-linkedin btn-xs" type="button" target="New">
              <span class="fa fa-linkedin"></span> | LinkedIn Profile</a>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.facebook.present? %>
            <a href="https://www.facebook.com/<%= @prospect.facebook %>" class="btn btn-facebook btn-xs" type="button" target="New">
              <span class="fa fa-facebook"></span> | Facebook Profile</a>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.born_on.present? %>
              DOB: <%= @prospect.born_on.strftime("%m/%d/%y") %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <br>&nbsp;
            <%= link_to "Add / Update Contacts", edit_contacts_path(@prospect.id), class: "btn btn-warning gradient round raised btn-xs pull-right" %> 
          </div>
        </div>
        
      </div>
    <% end %>

    <% if @prospect.first_name_2.present? || @prospect.last_name_2.present? %>
      <div id="contact2" class="collapse">
        <div class="row">
          <div class="col-xs-12"><hr></div>
        </div>
        <div class="row">
          <div class="col-xs-10"><strong>Contact 2 </strong>
            <% if @prospect.primary_contact == 2 %>
              <em>(primary)</em>
            <% end %>
          </div>
          <div class="col-xs-2">
            <a href="#contact2" data-toggle="collapse" class="btn btn-warning gradient round raised btn-xs" type="button" >
              <span class="fa fa-close"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.first_name_2.present? || @prospect.last_name_2.present? %>
              <%= @prospect.first_name_2 %> <%= @prospect.last_name_2 %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.title_2.present? %>
              <%= @prospect.title_2 %>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.phone_2.present? %>
              <span class="fa fa-phone"></span> 
              <%= @prospect.phone_2 %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.m_phone_2.present? %>
              <span class="fa fa-mobile-phone"></span>
              <%= @prospect.m_phone_2 %>
            <% end %>   
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.email_2.present? %>
              <a href="mailto:<%= @prospect.email_2 %>">
              <span class="glyphicon glyphicon-envelope"></span> <%= @prospect.email_2 %></a>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.alt_email_2.present? %>
              Alt <a href="mailto:<%= @prospect.alt_email_2 %>">
              <span class="glyphicon glyphicon-envelope"></span> <%= @prospect.alt_email_2 %></a>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.linkedin_2.present? %>
              <a href="https://www.linkedin.com/in/<%= @prospect.linkedin_2 %>" class="btn btn-linkedin btn-xs" type="button" target="New">
              <span class="fa fa-linkedin"></span> | LinkedIn Profile</a>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.facebook_2.present? %>
            <a href="https://www.facebook.com/<%= @prospect.facebook_2 %>" class="btn btn-facebook btn-xs" type="button" target="New">
              <span class="fa fa-facebook"></span> | Facebook Profile</a>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.born_on_2.present? %>
              DOB: <%= @prospect.born_on_2.strftime("%m/%d/%y") %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <br>&nbsp;
            <%= link_to "Add / Update Contacts", edit_contacts_path(@prospect.id), class: "btn btn-warning gradient round raised btn-xs pull-right" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @prospect.first_name_3.present? || @prospect.last_name_3.present? %>
      <div id="contact3" class="collapse">
        <div class="row">
          <div class="col-xs-12"><hr></div>
        </div>
        <div class="row">
          <div class="col-xs-10"><strong>Contact 3 </strong>
            <% if @prospect.primary_contact == 3 %>
              <em>(primary)</em>
            <% end %>
          </div>
          <div class="col-xs-2">
            <a href="#contact3" data-toggle="collapse" class="btn btn-warning gradient round raised btn-xs" type="button" >
              <span class="fa fa-close"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.first_name_3.present? || @prospect.last_name_3.present? %>
              <%= @prospect.first_name_3 %> <%= @prospect.last_name_3 %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.title_3.present? %>
              <%= @prospect.title_3 %>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.phone_3.present? %>
              <span class="fa fa-phone"></span> 
              <%= @prospect.phone_3 %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.m_phone_3.present? %>
              <span class="fa fa-mobile-phone"></span>
              <%= @prospect.m_phone_3 %>
            <% end %>   
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.email_3.present? %>
              <a href="mailto:<%= @prospect.email_3 %>">
              <span class="glyphicon glyphicon-envelope"></span> <%= @prospect.email_3 %></a>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.alt_email_3.present? %>
              Alt <a href="mailto:<%= @prospect.alt_email_3 %>">
              <span class="glyphicon glyphicon-envelope"></span> <%= @prospect.alt_email_3 %></a>
            <% end %>   
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.linkedin_3.present? %>
              <a href="https://www.linkedin.com/in/<%= @prospect.linkedin_3 %>" class="btn btn-linkedin btn-xs" type="button" target="New">
              <span class="fa fa-linkedin"></span> | LinkedIn Profile</a>
            <% end %>
          </div>
          <div class="col-xs-6">
            <% if @prospect.facebook_3.present? %>
            <a href="https://www.facebook.com/<%= @prospect.facebook_3 %>" class="btn btn-facebook btn-xs" type="button" target="New">
              <span class="fa fa-facebook"></span> | Facebook Profile</a>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <% if @prospect.born_on_3.present? %>
              DOB: <%= @prospect.born_on_3.strftime("%m/%d/%y") %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <br>&nbsp;
            <%= link_to "Add / Update Contacts", edit_contacts_path(@prospect.id), class: "btn btn-warning gradient round raised btn-xs pull-right" %>
            <br>&nbsp;
          </div>
        </div>
        
      </div>
    <% end %>