<% provide(:title, "Making Sales a Competitive Sport") %>

<div id="agent-view">
  <div class="container-fluid">
    <div class="panel panel-default col-md-6" id="panel-container">
      <div class="panel-heading">
        <h2 class="panel-title center">Menu</h2>
      </div>
      <div class="container-fluid">
        <div class="row">&nbsp;</div>
          <div class="col-xs-12 center">Smile & Dial:
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-list"></span> Select List 
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @goList.each do |p| %>
                  <li><%= link_to "#{p.list_number}", prospects_path(list_number: p.list_number) %></li>
                <% end %>
              </ul>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12 center">Or</div>
          </div>
          
          <!--Search by street next 10 lines-->
          <div class="row">
            <div class="col-xs-10 right">
              <%= form_tag(prospects_path, method: :get) do %>
              Walk & Talk: <%= text_field_tag :loc, params[:loc], placeholder: "Search by Street" %>
                <%= submit_tag 'Go', class:"btn btn-info gradient round raised btn-xs", name: nil %>
              <% end %>
            </div>
            <div class="col-xs-2">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 center">Or</div>
          </div>

          <!--Search for company by name next 10 lines-->
          <div class="row">
            <div class="col-xs-10 right">
              <%= form_tag(prospects_path, method: :get) do %>
                Search for a Prospect: <%= text_field_tag :co, params[:co], placeholder: "Search by Company" %>
                <%= submit_tag 'Go', class:"btn btn-info gradient round raised btn-xs", name: nil %>
              <% end %>
            </div>
            <div class="col-xs-2">
            </div>
          </div>
          
          
          
          
          
        </div>
        
        <div class="row">&nbsp;</div>
        <div class="row">&nbsp;</div>
      <div class="panel-footer">&nbsp;</div>
      </div>
    </div>
  </div>