<br>
<div class="container">
  <div class="jumbotron">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Temp Prospect Show View</h2>
      </div>
       <div id="prospect-view">
          <h5>Campaign: <%= @prospect.campaign %></h5>
        </div>
        <div id="prospect-view">
          <h5>List Number: <%= @prospect.list_number %></h5>
        </div>
        <div id="prospect-view">
          <h5>Time on Contact: <%= @prospect.time_on_contact %></h5>
        </div>
        <div id="prospect-view">
          <h5>Status: <%= @prospect.status %></h5>
        </div>
        <div id="prospect-view">
          <h5>Source: <%= @prospect.source %></h5>
        </div>
        <div id="prospect-view">
          <h5>Company: <%= @prospect.company %></h5>
        </div> 
        <div id="prospect-view">
          <h5>Company_phone: <%= @prospect.company_phone %></h5>
        </div>
        <div id="prospect-view">
          <h5>Address: <%= @prospect.address %></h5>
        </div>
        <div id="prospect-view">
          <h5>Address2: <%= @prospect.address2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>City: <%= @prospect.city %></h5>
        </div>
        <div id="prospect-view">
          <h5>State: <%= @prospect.state %></h5>
        </div>
        <div id="prospect-view">
          <h5>Zip: <%= @prospect.zip %></h5>
        </div>
        <div id="prospect-view">
          <h5>County: <%= @prospect.county %></h5>
        </div>
        <div id="prospect-view">
          <h5>Fax: <%= @prospect.fax %></h5>
        </div>
        <div id="prospect-view">
          <h5>Website: <%= @prospect.website %></h5>
        </div>
        <div id="prospect-view">
          <h5># of Empl: <%= @prospect.numberofemployees %></h5>
        </div>
        <div id="prospect-view">
          <h5>First Name: <%= @prospect.first_name %></h5>
        </div>
        <div id="prospect-view">
          <h5>Last Name: <%= @prospect.last_name %></h5>
        </div>
        <div id="prospect-view">
          <h5>Title: <%= @prospect.title %></h5>
        </div>
        <div id="prospect-view">
          <h5>Phone: <%= @prospect.phone %></h5>
        </div>
        <div id="prospect-view">
          <h5>Mobile Phone: <%= @prospect.m_phone %></h5>
        </div>
        <div id="prospect-view">
          <h5>Email: <%= @prospect.email %></h5>
        </div>
        <div id="prospect-view">
          <h5>Alt Email: <%= @prospect.alt_email %></h5>
        </div>
        <div id="prospect-view">
          <h5>LinkedIn: <%= @prospect.linkedin %></h5>
        </div>
        <div id="prospect-view">
          <h5>Facebook: <%= @prospect.facebook %></h5>
        </div>
        <div id="prospect-view">
          <h5>DOB: <%= @prospect.born_on %></h5>
        </div>
        <div id="prospect-view">
          <h5>First Name 2: <%= @prospect.first_name_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Last Name 2: <%= @prospect.last_name_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Title 2: <%= @prospect.title_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Phone 2: <%= @prospect.phone_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Mobile Phone 2: <%= @prospect.m_phone_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Email 2: <%= @prospect.email_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Alt Email 2: <%= @prospect.alt_email_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>LinkedIn 2: <%= @prospect.linkedin_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Facebook 2: <%= @prospect.facebook_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>DOB 2: <%= @prospect.born_on_2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>First Name 3: <%= @prospect.first_name_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Last Name 3: <%= @prospect.last_name_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Title 3: <%= @prospect.title_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Phone 3: <%= @prospect.phone_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Mobile Phone 3: <%= @prospect.m_phone_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Email 3: <%= @prospect.email_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Alt Email 3: <%= @prospect.alt_email_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>LinkedIn 3: <%= @prospect.linkedin_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Facebook 3: <%= @prospect.facebook_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>DOB 3: <%= @prospect.born_on_3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 1: <%= @prospect.other1 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 2: <%= @prospect.other2 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 3: <%= @prospect.other3 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 4: <%= @prospect.other4 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 5: <%= @prospect.other5 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 6: <%= @prospect.other6 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 7: <%= @prospect.other7 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Other 8: <%= @prospect.other8 %></h5>
        </div>
        <div id="prospect-view">
          <h5>Event Date/Time: <%= @prospect.eventdatetime %></h5>
        </div>
        <div id="prospect-view">
          <h5>sic: <%= @prospect.sic %></h5>
        </div>
        <div id="prospect-view">
          <h5>User ID: <%= @prospect.user_id %></h5>
        </div>
        <br>
        <br>

        <div class="panel-footer">
          <div class="btn-toolbar">
            <%= link_to 'Back', prospects_path, class: "btn btn-default" %> 
            <%= link_to 'Show', @prospect, class: "btn btn-default" %>
            <%= link_to "Edit", edit_prospect_path(@prospect), class: "btn btn-warning" %>   
            <%= link_to "Delete", @prospect, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
         </div>
        <br>
      </div>
    </div>
      <%= link_to 'New Prospect', new_prospect_path, class: "btn btn-primary"%>
  </div>
</div>